[user]
	name = Thomas Duncan
	email = tmduncan1696@gmail.com
[credential "https://github.com"]
	helper = cache
[credential "https://gist.github.com"]
	helper = cache
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	editor = nvim
[push]
	autoSetupRemote = true
